body {
	height: 100%;
	max-width: 80%;
	margin: auto;
	font-family: 'Raleway', sans-serif;

}

/* HEADER */

.reservia_logo {

	width: 150px;
	height: auto;

}

.header {

	display: 

}

.header a {

	text-decoration: none;
}



/* BODY */

.main {

	position: relative;
}

.menu {

	display: flex;
	justify-content: flex-end;
}

.hebergements_menu, .activites_menu {

	border-top: 4px solid #F2F2F2;
	padding-right: 40px;
	padding-left: 30px;
	padding-top: 30px;
}

.inscrire_menu {

	padding-top: 34px;
}

.hebergements_populaires {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}


.activites_menu:hover, .hebergements_menu:hover {

	border-top: 4px solid #0065FC;
}
.rechercher {

	display: flex;
	justify-content: flex-start;
}

.fa-map-marker-alt {

	background-color: #F2F2F2;
	padding: 15px;
	border-radius: 15px 0px 0px 15px;
}

#localisation {

	border-top: 2px solid #F2F2F2;
	border-right: 2px solid #0065FC;
	border-bottom: 2px solid #F2F2F2;
	border-left: 2px solid #F2F2F2;
	padding: 10px 4px 6px 8px;
}

.rechercher_submit {

	background-color: #0065FC;
	border : 1px solid #0065FC;
	padding: 10px 10px 7px 10px;
	border-radius: 0px 15px 15px 0px;
	color: white;
}

.les_filtres {

	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.filtres_title {

	margin-right: 40px;
}

.filtres {

	margin-right: 40px;
	border: 1px grey solid;
	padding: 15px;
	border-radius: 50px;
	position: relative;
}

.filtres_logo {

	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #DEEBFF;
	color: #0065FC;
	padding : 17px;
	border-radius: 50px
}

.filtres_txt {

	padding-left: 40px;
}
.blue {

	color: #0065FC;
}

.grey {

	color: #F2F2F2;
}


/* HEBERGEMENT */

.hebergements  {

	background-color: #F2F2F2;
	border: 1px red none;
	width: 60%;
	border-radius: 20px;
	padding: 30px;
}


.hebergements_flex {

	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	border: 1px black none;
}



.hebergements_items {
	
	background: white;
	border: white 15px solid; 
	border-radius: 15px;
	margin : 30px;
	box-shadow: 1px 1px 30px #D3D3D3;

}

.hebergements_items:hover {

	transform: scale(1.06);
	transition-duration: 0.5s;
}

.auberge_cannebiere, .hotel_mer {

	margin: 0px 15px 20px 0px;
}

.hotel_port, .auberge_panier {

	margin: 0px 15px 15px 15px;	
}

.hotel_mouettes, .hotel_amina {

	margin: 0px 0px 15px 15px;
}

.hebergements_img {

	width: 250px;
	height: 150px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}


/* POPULAIRE */

.populaires  {

	background-color: #F2F2F2;
	border: 1px red none;
	width: 376px;
	border-radius: 20px;
	padding: 30px;
}

.populaires_flex {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	border: 1px black none;
}



.populaires_items {

	display: flex;
	justify-content: space-between;
	background: white;
	border: white 15px solid; 
	border-radius: 20px;
	margin: 30px;
	box-shadow: 1px 1px 30px #D3D3D3;


}

.populaires_items:hover {

	transform: scale(1.06);
	transition-duration: 0.5s;
}

.hotel_soleil_matin {

	margin: 0px 0px 15px 0px;
}

.coeur_eau_chambre_hotes {

	margin: 15px 0px 15px 0px;
}

.hotel_tout_bleu_blanc {

	margin: 15px 0px 0px 0px;
}

.populaires_img {

	width: 130px;
	height: 150px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	padding-right: 30px;
}

 
/* ACTIVITES */

.activites {

	padding: 20px;
	border: 1px red none;
}

.activites_flex {

	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 450px;
	justify-content: space-between;
	border: 1px black none;
}

.les_activites {

	display: flex;
	flex-direction: column;
	border: white 1px none; 
	border-radius: 35px;
	box-shadow: 1px 1px 30px #D3D3D3;
}


.les_activites:hover {
	transform: scale(1.06);
	transition-duration: 0.5s;
} 

.les_activites img {

	border-radius: 20px 20px 0px 0px;
	

}

.les_activites h3 {

	padding-left: 20px;
}


.petites_img {

	width: 300px;
	height: 150px;
	object-fit: cover;
}

.grandes_img {

	width: 300px;
	height: 400px;
	object-fit: cover;
}



/* FOOTER */


.footer {

	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 400px;
}

.footer_block {

	display: block;
}

.footer li {

	list-style: none;

}

.footer a {

	text-decoration: none;
	color: black;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1600px) {

	.populaires {

		order: 1;
		flex-flow: row;	
		width: 100%;
	}

	.populaires_flex {

		flex-flow: row;
		justify-content: space-between;
		align-items: center;

	}

	.hotel_soleil_matin, .coeur_eau_chambre_hotes, .hotel_tout_bleu_blanc {

		width: 300px;
		height: 160px;
		margin: 0px;
	}

	.populaires h3 {

		margin: 0px;
	}

	.hebergements {

		order: 2;
		width: 1080px;
		margin-top: 30px;
	}


	.activites_flex {

		flex-flow: row wrap;
		height: auto;
		justify-content: space-between;
		align-items: center;

	}

	.petites_img, .grandes_img {

		height: 400px;
	}

	.grandes_activites, .petites_activites {

		margin-top: 15px;
		margin-bottom: 15px;
	}

	.footer {

		padding: 0px;
	}

	.a_propos h2 {

		padding-left: 40px;
	}

	.assistance ul {

		padding-left: 0px;
		padding-right: 35px;
	}
}


@media screen and (max-width: 1350px) {

	.populaires_flex {

		flex-direction: column;
		justify-content: space-between;
		width: auto;
	}

	.hotel_soleil_matin, .coeur_eau_chambre_hotes, .hotel_tout_bleu_blanc {

		margin: 10px;
		width: 450px;
		height: 200px;
	}

	.populaires_img {

		width: 250px;
		height: 200px;
	}
}









