
  
body {
	height: 100%;
	max-width: 80%;
	margin: auto;
	font-family: 'Raleway', sans-serif;

}

.bloc_page a {

	text-decoration: none;
	color: black;

}

/* HEADER */

.reservia_logo {

	width: 150px;
	height: auto;
	

}

.menu a {

	text-decoration: none;
	color: #0065FC;
}

.inscrire_petit {

	position: absolute;
	top: 30px;
	right: 10px;
	display: none;
}

/* BODY */


.main {

	position: relative;
}

.bloc_page p {

	margin-top: 15px;
	margin-bottom: 15px;
}

.les_filtres {

	margin-top: 30px;
	margin-bottom: 30px;
}

.menu {

	display: flex;
	justify-content: flex-end;
}

.hebergements_menu, .activites_menu {

	border-top: 4px solid white;
	padding-right: 40px;
	padding-left: 30px;
	padding-top: 30px;
}

.inscrire_menu {

	padding-top: 34px;
	font-weight: bold;
}

.hebergements_populaires {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.hebergements_populaires p {

	line-height: 2px;
}

.activites_menu:hover, .hebergements_menu:hover {

	border-top: 4px solid #0065FC;
}
.rechercher {

	display: flex;
	justify-content: flex-start;
}

.fa-search {


	display: none !important;
	
	
}

.fa-map-marker-alt {

	background-color: #F2F2F2;
	padding: 15px;
	border-radius: 15px 0px 0px 15px;
}

#localisation {

	border-top: 2px solid #F2F2F2;
	border-right: 2px solid #0065FC;
	border-bottom: 2px solid #F2F2F2;
	border-left: 2px solid #F2F2F2;
	padding: 10px 4px 6px 8px;
}

.rechercher_submit {

	background-color: #0065FC;
	border : 1px solid #0065FC;
	padding: 10px 10px 7px 10px;
	border-radius: 0px 15px 15px 0px;
	color: white;
}

.les_filtres {

	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.filtres_title {

	margin-right: 40px;
}

.filtres {

	margin-right: 40px;
	border: 2px #F2F2F2 solid;
	padding: 15px;
	border-radius: 50px;
	position: relative;
	height: 20px;
}

.filtres:hover {

	color: #0065FC;
}

.filtres_logo {

	position: absolute;
	left: -2px;
	top: -2px;
	background-color: #DEEBFF;
	color: #0065FC;
	width: 19px;
	height: 19px;
	padding : 17px;
	border-radius: 50px

}

.fas {

	width: 19px;
	height: 19px;
}

.fa-info {

	color: #0065FC;
	width: 8px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 2px #F2F2F2 solid;
	border-radius: 20px;

}

.filtres_txt {

	padding-left: 40px;
	font-weight: bold;
}
.blue {

	color: #0065FC;
}

.grey {

	color: #F2F2F2;
}


/* HEBERGEMENT */

.hebergements  {

	background-color: #F2F2F2;
	border: 1px red none;
	width: 60%;
	border-radius: 20px;
	padding: 30px;
}



.hebergements_flex {

	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-content: space-between;
	border: 1px black none;
}

.hebergements_items h3 {

	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
}

.hebergements_items p {

	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	line-height: 20px;
}

.hebergements_items {
	
	background: white;
	border: white 5px solid; 
	border-radius: 20px;
	margin : 30px;
	box-shadow: 1px 1px 30px #D3D3D3;
	height: 230px;
	width: 270px;

}

.hebergements_items:hover {

	transform: scale(1.06);
	transition-duration: 0.5s;
}

.auberge_cannebiere, .hotel_mer {

	margin: 0px 15px 20px 0px;
}

.hotel_port, .auberge_panier {

	margin: 0px 15px 15px 15px;	
}

.hotel_mouettes, .hotel_amina {

	margin: 0px 0px 15px 15px;
}

.hebergements_img {

	width: 270px;
	height: 150px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}

.afficher_plus {

	margin-left: 15px;
	margin-top: 20px;
}

.hebergements_stars {

	padding-left: 8px;
}

/* POPULAIRE */

.populaires  {

	background-color: #F2F2F2;
	border: 1px red none;
	border-radius: 20px;
	padding: 30px;
	position: relative;

}

.populaires_flex {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	border: 1px black none;
}



.populaires_items {

	display: flex;
	background: white;
	border: white 5px solid; 
	border-radius: 20px;
	margin: 30px;
	box-shadow: 1px 1px 30px #D3D3D3;
	max-width: 360px;
	max-height: 150px;
	width: 100%;
	height: 100%;


}

.populaires_items h3, p {

	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 0px;
}



.populaires_items:hover {

	transform: scale(1.06);
	transition-duration: 0.5s;
}

.hotel_soleil_matin {

	margin: 0px 0px 15px 0px;
}

.coeur_eau_chambre_hotes {

	margin: 15px 0px 15px 0px;
}

.hotel_tout_bleu_blanc {

	margin: 15px 0px 0px 0px;
}

.populaires_img {

	width: 130px;
	height: 150px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	padding-right: 30px;
}

.populaires_texts {

	position: relative;
}

.populaires_stars {

	position: absolute;
	bottom: 5px;
}

.fa-chart-line {

	position: absolute;
	top: 45px;
	right: 60px;
}
/* ACTIVITES */

.activites {

	padding: 20px;
	border: 1px red none;
}

.activites_flex {

	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 450px;
	justify-content: space-between;
	border: 1px black none;
}

.les_activites {

	display: flex;
	flex-direction: column;
	border: white 1px none; 
	border-radius: 20px;
	box-shadow: 1px 1px 30px #D3D3D3;
}


.les_activites:hover {
	transform: scale(1.06);
	transition-duration: 0.5s;
} 

.les_activites img {

	border-radius: 20px 20px 0px 0px;
	

}

.les_activites h3 {

	padding-left: 20px;
}


.petites_img {

	width: 300px;
	height: 150px;
	object-fit: cover;
}

.grandes_img {

	width: 300px;
	height: 400px;
	object-fit: cover;
}



/* FOOTER */


.footer {

	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 400px;
	margin-top: 40px;
	line-height: 30px;
}

.footer a {

	text-decoration: none;
	color: black;
}

.footer_block {

	display: block;
}

.footer li {

	list-style: none;

}


.footer_categories {

	padding-left: 40px;
}

.footer_categories ul {

	padding-left: 0px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1600px) {

	.populaires {

		order: 1;
		flex-flow: row;	
		width: 100%;
	}

	.populaires_img {

		width: 130px;
		height: 150px;
	}

	.populaires_flex {

		flex-flow: row;
		justify-content: space-between;
		align-items: center;

	}

	.hotel_soleil_matin, .coeur_eau_chambre_hotes, .hotel_tout_bleu_blanc {

		width: 300px;
		height: 160px;
		margin: 0px;
	}

	.populaires h3 {

		margin-top: 10px;
	}

	.populaires_texts h3, p {

		font-size: 0.9em;
	}


	.hebergements {

		order: 2;
		width: 1080px;
		margin-top: 30px;
	}



	.activites_flex {

		flex-flow: row wrap;
		height: auto;
		justify-content: space-between;
		align-items: center;

	}

	.petites_img, .grandes_img {

		height: 400px;
	}

	.grandes_activites, .petites_activites {

		margin-top: 15px;
		margin-bottom: 15px;
	}

	.footer {

		padding: 0px;
	}

	

	.assistance ul {

		padding-left: 0px;
		padding-right: 35px;
	}
}


@media screen and (max-width: 1350px) {

	.populaires_flex {

		flex-direction: column;
		justify-content: space-between;
		width: auto;
	}

	.populaires_items {

		margin: 10px;
		width: 450px;
		height: 200px;
		justify-content: flex-start;
	}

	.populaires_img {

		width: 130px;
		height: 150px;
	}

	.populaires_texts {

		padding-top: 30px;
		position: relative;
	}

	.populaires_stars {

		position: absolute;
		bottom: 5px;
	}

	.hebergements_img {

		width: 300px;
		height: 200px;
	}

	.hebergements_items {

		width: 300px;
		height: 320px;
		margin: 10px;
	}

	.petites_img, .grandes_img {

		height: 200px;
		width: 350px;
	}
}


@media screen and (max-width: 950px) {

	body, html {

		max-width: 100%;
		padding-left: 5px;
	}

	.reservia_logo {

		padding-left: 20px;
	}

	.inscrire_petit {

		display: block;
		margin-right: 40px;
		font-weight: bold;
		text-decoration: none;
	}


	.inscrire_menu {

		display: none;
	}

	.filtres {

		margin-right: 3px;
		margin-bottom: 5px;
	}

	.hebergements_menu, .activites_menu {

		justify-content: space-between;
		width: 100%;
		padding-left: 60px;
	}

	

	.main, .bloc_page, .hebergements_populaires, .populaires, .hebergements_flex, .populaires_flex {

		max-width: 100%;

	}
	  

	.populaires_items {

		width: 350px;
		height: 150px;

	}


	 .hebergements_menu, .activites_menu {

	 	border-top: none;
	 	border-bottom: 4px solid #F2F2F2;
	 	padding-bottom: 20px;
	 }

	.hebergements {

		background-color: transparent;
		max-width: 100%;
	}

	.hebergements_flex, .populaires_flex {

		align-items: center;
		justify-content: center;
	}

	.hebergements_items {

		width: 350px;
		height: 230px;
	}

	.hebergements_img {

		width: 350px;
		height: 150px;
	}

	.activites_flex {

		align-content: center;
		justify-content: center;
	}

	.les_activites {

		width: 350px;
		height: 230px;
	}

	.grandes_img, .petites_img {

		width: 350px;
		height: 170px;
	}

	.footer_block {

		width: 100%;
	}

	.footer {

		flex-direction: column;
		align-items:flex-start;
		max-width: 100%;
	}

	.a_propos h2, ul { 

		padding-left: 30px;
		padding-right: 0px;
	}

	.nos_hebergements h2, ul {

		padding-left: 30px;
		padding-right: 0px;
	}

	.assistance {

		padding-left: 30px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 460px) {


	html {

		border: 1px solid black;
		padding: 0px;
	}

	body {

		width: 100%;
		padding: 0px;
	}

	h1 {

		font-size: 1.3em;
	}

	h2 {

		font-size: 1.2em;
	}

	.start {

		padding-left: 5px;
	}

	.fa-2x {

		font-size: 1.2em !important;
	}

	.reservia_logo {

		width: 100px;
		height: auto;
		padding-top: 10px;
	}

	.filtres_title {

		margin-right: 200px;
	}

	.populaires {

		border-radius: 0px;
		max-width: 100%;
		padding: 20px;
	}

	.populaires_flex h3, p {

		font-size: 1em;
	}

	.populaires_texts {

		padding-top: 5px;
	}

	.populaires_items {

		max-width: 300px;
		max-height: 120px;
		width: 100%;
		height: 100%;
	}

	.hebergements {

		padding: 0px;
	}
	.hebergements_items {

		width: 300px;
		max-height: 180px;
		
	}

	.populaires_img {

		max-width: 100px;
		max-height: 120px;
		width: 100%;
		padding-right: 10px;
	}

	.hebergements h3, p {

		font-size: 1em;
	}

	.hebergements h2 {

		padding-left: 15px;
	}

	.hebergements_img {

		width: 300px;
		max-height: 100px;
		
	}

	.les_activites {

		width: 300px;
		height: 200px;
	}

	.petites_img, .grandes_img {

		width: 300px;
		height: 150px;
	}

	.activites h3 {

		font-size: 1em;
	}

	.fa-star {
		
		font-size: 0.7em;
		width: 15px;
	}
	.rechercher_submit {

		display: none;
	}

	.fa-search {

		display: block !important;
		height: 30px;
		background-color: #0065FC;
		border : 1px solid #0065FC;
		padding: 10px 10px 7px 10px;
		border-radius: 0px 15px 15px 0px;
		color: white;
	}
}




